{#
/**
 * @file
 * Default theme implementation to display a persona.
 *
 * Available variables:
 * - persona: ...
 *
 * @ingroup themeable
 */
#}
<ul>
<li>{{ persona.nominativo }}</li>
<li>{{ persona.email }}</li>
</ul>
